<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Delhi State Assembly Elections</title>
    <!-- Bootstrap -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <style type="{% static 'text/css'%}">
    </style>
    <link href="{% static 'css/homestyle.css'%}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <script src="{% static'js/showpassword.js' %}"></script>
</head>

<body>
    <div class="container-fluid" id="wrap">
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#defaultNavbar1" aria-expanded="false"><span class="sr-only">Toggle
                            navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span
                            class="icon-bar"></span></button>
                    <a class="navbar-brand" style="color: whitesmoke; font-size: 35px;" href="{% url 'home'%}">Delhi State
                        Assembly
                        Elections</a>
                </div>
                <div class="collapse navbar-collapse" id="defaultNavbar1">
                    <ul class=" nav navbar-nav navbar-right">
                        <li><a href="{% url 'home'%}">About</a></li>
                        <li><a href="{% url 'login' %}">Login</a></li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
    </div>
    <div class="login-form">
        <form class="box" action="" , method="post">
            <h1>Login</h1>
            <input type="text" name="username" placeholder="username" required>
            <input type="password" name="password" placeholder="password" required id="login-pass">
            <input type="checkbox" onclick="show_password()"><label style="color:whitesmoke;">Show Password</label>
            <input type="submit" name="submit" value="Login">
            Not a member? <a href="index.html">Register Here!</a>
        </form>
    </div>


</body>
